.login{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,7);
    position: fixed;
    top: 0;
    color : white;
    display:flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.login_card{
    width: 40%;
    height: 60%;
    margin-top: 100px;
    background-color: black;
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.5px 0.5px 8px white;
}

.login_card_header{
    font-size: 28px;
    font-weight: 500;
    display:flex;
    align-items: center;
    gap:10px
    
}